<section class="main-block-landing">
    <container class="txt-container-landing" id="container-landing">
        <h1 class="landing-headline">What will<br> you <span class="color-h1-landing"
                style="color:#D1D1E9;">learn</span><br></span> today?</h1>
        <p class="landing-catchphrase">Discover premium courses made by passionate teachers, who share they knowledges.
        </p>
        <div>
            <a href="./auth/signup" class="landing-cta">Create an account</a>
        </div>
    </container>
    <container class="img-container-landing">
        <img src="/images/pyramid.jpg" class="img-landing" id="img-landing" alt="illu-landing">
    </container>
</section>