
<section class="main-block-landing">
    <container class="txt-container-landing" id="container-landing">

        <h1>What will you <span class="color-h1-landing">learn</span> today?</h1>
        <p>Discover premium courses made by passionate teachers, who share they knowledges.</p>

    </container>
    <container class="img-container-landing">
        <img src="" class="img-landing" id="img-landing">
    </container>
</section>