<div class="sign-up--ctn">
    <h1>Sign in</h1>

    <form method="post" class="form-sign-up" action="/auth/login">

        <label for="email"></label>
        <input name="email" type="text" class="form-input" placeholder="Email" value="">
        <label for="password"></label>
        <input name="password" type="password" class="form-input" autocomplete="current-password" placeholder="Password"
            value="">

        <button class="base-btn">Sign in</button>

        <p class="no-account">No account yet ? <a class="link" href="/auth/signup">please signup!<a>
        </p>
    </form>
</div>
{{#if errorMessage }}
<div class="error-message">{{ errorMessage }}</div>
{{/if}}