@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Slab&display=swap");
* {
  margin: 0;
  padding: 0;
  border: 1px fuchsia solid; }

html {
  font-family: "Roboto", sans-serif;
  color: #2b2c34; }

body {
  color: #2b2c34; }

#logo {
  height: 5vh;
  margin-left: 75px; }

nav {
  font-family: "Roboto Slab", serif;
  color: #6246ea;
  font-size: 24px;
  display: flex;
  flex-direction: row;
  align-items: center; }

nav ul {
  list-style: none;
  width: 100vw;
  height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end; }

.nav-line {
  margin-right: 10vh;
  padding-bottom: 4px;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow: hidden; }
  .nav-line:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    right: 100%;
    bottom: 0;
    background: #d1d1e9;
    height: 3px;
    -webkit-transition-property: right;
    transition-property: right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out; }
  .nav-line:hover:before {
    right: 0; }

nav li a {
  text-decoration: none;
  color: inherit; }

.right-button {
  margin-right: 3vw;
  background-color: #6246ea;
  border-radius: 6px;
  padding: 20px;
  padding-right: 80px;
  padding-left: 80px;
  color: white;
  transition: 0.4s; }

.right-button:hover {
  background-color: #d1d1e9;
  color: #6246ea;
  transition: 0.3s; }

.form-input {
  color: #282828;
  font-family: "Roboto", sans-serif;
  display: block;
  width: 100%;
  padding-left: 12px;
  box-sizing: border-box;
  -webkit-user-select: auto;
  -moz-user-select: auto;
  -ms-user-select: auto;
  user-select: auto;
  font-size: 14px;
  border: 3px solid #000;
  border-radius: 5px;
  height: 50px;
  margin-bottom: 30px; }
  .form-input:focus {
    border-color: #6246ea; }

.form-sign-up {
  width: 400px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

.sign-up-btn {
  transition: transform 0.2s;
  transform: translateZ(0);
  box-sizing: border-box;
  height: 48px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  border-radius: 8px;
  cursor: pointer;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #6246ea;
  border-color: #6246ea;
  color: #fffffe;
  cursor: pointer;
  width: 100%; }
  .sign-up-btn:focus {
    transform: translateY(-2px); }

.pic-select {
  margin-bottom: 20px; }
  .pic-select label {
    padding: 5px;
    margin-left: 2px;
    margin-bottom: 20px; }
  .pic-select input {
    border: 0;
    background-color: red; }

.title-page {
  text-align: center; }

.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1; }

.inputfile-1 + label {
  color: #fffffe;
  background-color: #2b2c34; }

.inputfile-1:focus + label,
.inputfile-1.has-focus + label,
.inputfile-1 + label:hover {
  background-color: #6246ea; }

.js .inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1; }

.inputfile + label {
  max-width: 80%;
  font-size: 1.25rem;
  /* 20px */
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  padding: 0.625rem 1.25rem;
  margin-bottom: 20px;
  /* 10px 20px */ }

.no-js .inputfile + label {
  display: none; }

.inputfile:focus + label,
.inputfile.has-focus + label {
  outline: 1px dotted #000;
  outline: -webkit-focus-ring-color auto 5px; }

.inputfile + label svg {
  width: 1em;
  height: 1em;
  vertical-align: middle;
  fill: currentColor;
  margin-top: -0.25em;
  /* 4px */
  margin-right: 0.25em;
  /* 4px */ }

.sign-up--ctn {
  padding: 50px; }
  .sign-up--ctn h1 {
    text-align: center;
    margin-bottom: 20px; }

.input-el {
  width: 100%; }

.error-message {
  text-align: center;
  color: red; }

/*# sourceMappingURL=style.css.map */