@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Slab&display=swap");

$purple: #6246ea;
$black: #2b2c34;
$sec: #d1d1e9;
$ter: #e45858;
$font: "Roboto", sans-serif;
$font-slab: "Roboto Slab", serif;
$white: #fffffe;
* {
  margin: 0;
  padding: 0;
}
html {
  font-family: $font;
  color: $black;
}
body {
  color: $black;
}
#logo {
  height: 5vh;
  margin-left: 75px;
}

nav {
  font-family: $font-slab;
  color: #6246ea;
  font-size: 24px;
  display: flex;
  flex-direction: row;

  align-items: center;
}

nav ul {
  list-style: none;
  width: 100vw;
  height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.nav-line {
  margin-right: 10vh;
  padding-bottom: 4px;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow: hidden;

  &:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    right: 100%;
    bottom: 0;
    background: #d1d1e9;
    height: 3px;
    -webkit-transition-property: right;
    transition-property: right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }

  &:hover:before {
    right: 0;
  }
}

nav li a {
  text-decoration: none;
  color: inherit;
}

.right-button {
  margin-right: 3vw;
  background-color: #6246ea;
  border-radius: 6px;
  padding: 20px;
  padding-right: 80px;
  padding-left: 80px;
  color: white;
  transition: 0.4s;
}
.right-button:hover {
  background-color: #d1d1e9;
  color: #6246ea;
  transition: 0.3s;
}
.form-input {
  &:focus {
    border-color: $purple;
  }
  color: #282828;
  font-family: $font;
  display: block;
  width: 100%;
  padding-left: 12px;
  box-sizing: border-box;
  -webkit-user-select: auto;
  -moz-user-select: auto;
  -ms-user-select: auto;
  user-select: auto;
  font-size: 14px;
  border: 3px solid #000;
  border-radius: 5px;
  height: 50px;
  margin-bottom: 30px;
}
.form-sign-up {
  //   text-align: center;
  width: 400px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.base-btn {
  &:focus {
    transform: translateY(-2px);
  }

  transition: transform 0.2s;
  transform: translateZ(0);
  box-sizing: border-box;
  height: 48px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  border-radius: 8px;
  cursor: pointer;
  padding-left: 20px;
  padding-right: 20px;
  background-color: $purple;
  border-color: $purple;
  color: $white;
  cursor: pointer;
  width: 100%;
}
.pic-select {
  margin-bottom: 20px;
  label {
    padding: 5px;
    margin-left: 2px;
    margin-bottom: 20px;
  }
  input {
    border: 0;
    background-color: red;
  }
}
.title-page {
  text-align: center;
}
.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
.inputfile-1 + label {
  color: $white;
  background-color: $black;
}

.inputfile-1:focus + label,
.inputfile-1.has-focus + label,
.inputfile-1 + label:hover {
  background-color: $purple;
}

.js .inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.inputfile + label {
  max-width: 80%;
  font-size: 1.25rem;
  /* 20px */
  //   font-weight: 700;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  padding: 0.625rem 1.25rem;
  margin-bottom: 20px;
  /* 10px 20px */
}

.no-js .inputfile + label {
  display: none;
}

.inputfile:focus + label,
.inputfile.has-focus + label {
  outline: 1px dotted #000;
  outline: -webkit-focus-ring-color auto 5px;
}

.inputfile + label svg {
  width: 1em;
  height: 1em;
  vertical-align: middle;
  fill: currentColor;
  margin-top: -0.25em;
  /* 4px */
  margin-right: 0.25em;
  /* 4px */
}
.sign-up--ctn {
  padding: 50px;
  h1 {
    text-align: center;
    margin-bottom: 20px;
  }
}
.input-el {
  width: 100%;
}
.error-message {
  text-align: center;
  color: red;
}
// MAIN PADDING
main {
  padding: 50px 10%;
}
// VIGNETTES COURSES
.vignette-container {
  width: 25%;
  height: 25%;
  margin: 20px 20px 0 0;
}
.global-vignette-container {
  display: flex;
  flex-wrap: wrap;
}
.vignette-container-inside {
  border-radius: 6px;
  box-shadow: 0 2px 14px rgba(126, 87, 88, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
}
.vignette-main-image {
  border-radius: 6px 6px 0 0;
  width: 100%;
  height: 15rem;
  object-fit: cover;
  filter: grayscale(60%);
}
#vignette-link {
  text-decoration: none;
}
.cercle {
  width: 50px;
  height: 50px;
  border-radius: 60px;
}
.teacher-image {
  width: 100%;
  object-fit: cover;
}
#contain {
  display: flex;
  padding: 10px 30px;
}
#contain h4 {
  margin-left: 10px;
  margin-top: 15px;
  color: white;
}
.vignette-inside {
  padding: 20px 30px;
  line-height: 20px;
}
// boxshadow
.box-shad {
  box-shadow: 0 2px 14px rgba(126, 87, 88, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
}
.vignette-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.vignette-bottom-right {
  align-items: center;
  text-align: right;
  line-height: 25px;
}
.tag {
  padding: 5px;
  background-color: #d1d1e9;
  border-radius: 6px;
  display: inline-flex;
  font-size: 12px;
  color: #6246ea;
}
.vignette-bottom-right p {
  color: #d1d1e9;
  font-size: 15px;
}
.vignette-bottom-right h2 {
  color: #6246ea;
}
.vignette-description {
  margin: 10px 0 15px 0;
  color: #d1d1e9;
  white-space: nowrap;
  overflow: hidden;
}
.overflow-ellipsis {
  text-overflow: ellipsis;
}
.title-tag {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.no-account {
  margin-top: 20px;
}
.create-course--ctn {
  width: 55%;
  margin: 20px auto;
}
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background: #5c6664;
  background-image: none;
  flex: 1;
  padding: 0 0.5em;
  color: $white;
  cursor: pointer;
  font-size: 1em;
  font-family: $font;
}
select::-ms-expand {
  display: none;
}
.select {
  position: relative;
  display: flex;
  width: 230px;
  height: 3em;
  line-height: 3;
  background: $black;
  overflow: hidden;
  border-radius: 0.25em;
}
.select::after {
  content: "\25BC";
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 1em;
  background: $purple;
  cursor: pointer;
  pointer-events: none;
  transition: 0.25s all ease;
}
.select:hover::after {
  color: $sec;
}
.form-top {
  display: flex;
  justify-content: space-between;
}
